.titleblock{
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 5px;
  outline: black solid 1px;
  font-size: 1rem;
  font-size: clamp(1rem, 0.3589743589743589rem + 0.17094017094017094vw, 2rem);
}

.pageTitle {
  font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(24, 190, 24);
    
}

#caption {
  font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

#section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.block {
  flex: 1;
  background: rgb(24, 190, 24);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(200, 133, 22);
  padding: 24px;
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  font-size: 25px;
  color: white;
}

#infosection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
  
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
}


label {
  margin-top: 10px;
  margin-bottom: 5px;
}

button{
  background-color: rgb(24, 190, 24);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: larger;
  font-size: 1rem;
  font-size: clamp(1rem, 0.3589743589743589rem + 0.17094017094017094vw, 2rem);
}

#addButton {
  background-color: rgb(200, 133, 22);
  color: black;
}

.location-group,
.truck-row,
.truck-headers {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
  
}

select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.info {
  flex: 1;
  background: #f0f0f0;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid black;
  

}

.bullet-list {
  text-align: left;
  margin: 10px 0;
  padding-left: 20px;
}

.bulletlisttitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
}

.provinces {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  
}

.info img {
  display: block;
  margin: 20px auto;
  outline: black solid 5px;
  
  
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: rgb(208, 133, 22);
  font-weight: bold;
}