.section1 {
  background-color: rgb(24, 190, 24);
  background-image: url("images/informal\ waste\ picker.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 20px;        
  color: white;
  text-align: center;
  height: 415px;

  } 

  .section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }     

  .section1 > * {
    position: relative;
    z-index: 2;
  } 
.section2 {
  background-color: #f0f0f0; /* light gray */
  padding: 100px 20px;
  text-align: center;
}

.section3 {
  background-color: #56ae59d7; /* green */
  padding: 100px 20px;
  color: white;
  text-align: centersection 3

}

#pageTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    font-family:"Poppins", sans-serif;
    letter-spacing: 10px;
}

.join-button{
    background-color: rgb(208, 133, 22);
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}


h2{
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}  

.goToPages{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.boxAround {
    text-decoration: none;
    color: green;
    font-weight: bold;
    padding: 8px 15px;
    background-color: white;
    border-radius: 6px;
    font-size: xx-large;
    box-shadow: black 5px 5px 5px;
}