body {
  background-color: white;
}

.titleblock{
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 5px;
  outline: black solid 1px;
}

.section1 {
  background-color: rgb(24, 190, 24);
    padding: 20px;
    margin: 0px;
    margin-bottom: 15px;
    outline: black solid 1px;
}

#detailsPage {
  font-family: Arial, sans-serif;
    color: black;
    line-height: 1.6;
    text-align: center;
}

.pageTitle {
  font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(208, 133, 22);
}

#caption {
  font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

#section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.block {
  flex: 1;
  background: rgb(208, 133, 22);
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(24, 190, 24);
  padding: 24px;
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

#infosection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.info {
  flex: 1;
  background: #f0f0f0;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid black;
}

.bullet-list {
  text-align: left;
  margin: 10px 0;
  padding-left: 20px;
}

.bulletlisttitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
}

.provinces {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}



label {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.location-group,
.truck-row,
.truck-headers {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
}

.truck-headers div,
.truck-row input {
  flex: 1;
  text-align: center;
}

.truck-headers {
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #aaa;
  padding-bottom: 6px;
  margin-top: 15px;
}

Button {
  margin-top: 16px;
  padding: 10px 18px;
  border-radius: 6px;
  background-color: #2a9d8f;
  color: white;
  width: fit-content;
}

.submitButton {
  background-color: rgb(200, 133, 22);
  color: black;
  width: 200px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}