.titleblock{
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 5px;
  outline: black solid 1px;
}

.pageTitle {
  font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(24, 190, 24);
    
}

#caption {
  font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

#section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.block {
  flex: 1;
  background: rgb(24, 190, 24);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(200, 133, 22);
  padding: 24px;
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  font-size: 25px;
  color: white;
}

#infosection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.info {
  flex: 1;
  background: #f0f0f0;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid black;
}